node_modules
dist
dist-ssr
dist-electron
release
.jdk17
jdk17*
*.zip
*.exe
android/.gradle_user_home
android/.gradle
android/build
android/app/build
android/local.properties
android/capacitor-cordova-android-plugins
*.apk
*.aab
.env
.env.*